:root {
    --primary: lightgray;
    --border: black;
    --cell1: rgb(227, 227, 227);
    --cell2: rgb(191, 191, 191);
}

*, *::after, *::before {
    background: var(--primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.box, .cell {
    border: 1.5px solid var(--border);
}

.box {
    margin: 27px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.box {
    width: 515px;
    height: 515px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.cell {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover, button:hover {
    cursor: pointer;
}

.bottom {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

p {
    height: 20px;
    margin: 10px;
}

button {
    background-color: var(--cell1);
    border-radius: 8px;
    padding: 4px 10px;
}