:root {
    --primary: black;
    --secondary: white;
    --tertiary: grey;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.box, .cell {
    border: 1.5px solid var(--primary);
}

.box {
    margin: 30px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.box {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.cell {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover, button:hover {
    cursor: pointer;
}

.bottom {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

p {
    height: 20px;
    margin: 10px;
}

button {
    border-radius: 8px;
    padding: 4px 10px;
}